nav {
    background-color: black;
}

nav .logo {
    width: 80px;
    height: 80px;
}

nav .navbar-nav li a {
    color: white;
    margin: 10px;
}

nav .navbar-nav li a:hover {
    opacity: 0.5;
}

nav .active {
    opacity: 0.5;
}

/* Profile Icon */
.fa-user {
    color: white;
}