header {
    background-color: black;

    /* position: fixed;
    width: 100%; */
}

.logo {
    width: 80px;
    height: 80px;
}

.navbar-nav li a {
    color: white;
    margin: 10px;
}

.navbar-nav li a:hover {
    opacity: 0.5;
}

.active {
    opacity: 0.5;
}