/* CSS FLEXBOX LAYOUT SYSTEM: */
footer {
    /* Expands items to fill available free space or shrinks them to prevent overflow. */
    display: flex; /* Set the html sections to be on columns => contact + follow = one column, copyright = another column. */
    flex-direction: column; /* Change the flex direction back to columns, so all elements will be on a new row.*/

    background-color: black;
    color: white;
}

.container {
    display: flex; /* Set the elements (contact and follow) on different columns. */
    padding: 5px;
}

.container h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact {
    flex-grow: 1; /* Equally divided to take full width. */
    flex-basis: 100%; /* Remain equally divided based on the content. */
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.follow {
    flex-grow: 1;
    flex-basis: 100%;
}

.follow .social-links a {
    display: inline-block;

    height: 40px;
    width: 40px;

    color: black;
    background-color: white;

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.follow .social-links a:hover {
    opacity: 0.5;
}

.copyright {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid white;
}

@media(max-width: 575px) {
    .container {
        flex-direction: column;
    }
}