<footer>
    <section class="container">
        <div class="contact">
            <h3>contact me</h3>
            <ul>
                <li><i class="fa-solid fa-address-card"></i> RO Timis</li>
                <li><i class="fa-solid fa-phone"></i> +40 742 032 542</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> dfsaom2dam@yahoo.com</li>
            </ul>
        </div>
        <div class="follow">
            <h3>follow me</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/david.serb.7" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/daviddserb/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/daviddserb" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </section>
    <section class="copyright">Copyright 2023 &copy; Serb David - all rights reserved.</section>
</footer>