<div class="form-wrap">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <h1>Log in</h1>
        <div>
            <label for="username">Username</label>
            <!-- name="..." is for binding, it's a must! -->
            <!-- ngModel is for taking the value in the component! -->
            <input type="text" name="username" ngModel #username="ngModel" class="form-control" id="username" required appNoWhitespaceAllowed>
            <div *ngIf="username.touched" style="color:red">
                <div *ngIf="username.errors?.['required']">
                    Username is required!
                </div>
                <div *ngIf="username.errors?.['noSpaceAllowed']">
                    No whitespace allowed!
                </div>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" ngModel #password="ngModel" class="form-control" id="password" required minlength="6">
            <div *ngIf="password.touched" style="color:red">
                <div *ngIf="password.errors?.['required']"> 
                    Password is required!
                </div>
                <div *ngIf="password.errors?.['minlength']"> 
                    Password needs a length of at least 6!
                </div>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!loginForm.valid">Submit</button>
            <a routerLink="../register" class="btn btn-link">Don't have an account? Register here.</a>
        </div>
    </form>
</div>