<div class="card form">
    <h4 class="card-header">Log in</h4>

    <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
            <div class="form-group">
                <label for="username">Username: </label>
                <!-- name="..." is for binding, it's a must! -->
                <!-- ngModel is for taking the value in the component! -->
                <input type="text" name="username" ngModel #username="ngModel" required appNoWhitespaceAllowed>
                
                <div *ngIf="username.touched" style="color:red">
                    <div *ngIf="username.errors?.['required']">
                        Username is required!
                    </div>
                    <div *ngIf="username.errors?.['noSpaceAllowed']">
                        No whitespace allowed!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" ngModel #password="ngModel" required minlength="6">
            
                <div *ngIf="password.touched" style="color:red">
                    <div *ngIf="password.errors?.['required']"> 
                        Password is required!
                    </div>

                    <div *ngIf="password.errors?.['minlength']"> 
                        Password needs a length of at least 6!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!loginForm.valid">Submit</button>
                
                <a routerLink="../register" class="btn btn-link">Don't have an account? Register here.</a>
            </div>
        </form>
    </div>
</div>