.hair-service {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.hair-service h1 {
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.hair-service label {
    display: block;
    padding: 1rem 0 .25rem;
    font-size: 20px;
    color: white;
}

.hair-service input {
    display: block;
    width: 40%;
    border: 2px solid white;
    padding: .5rem;
    border-radius: 5px;
}

.hair-service input:focus {
    width: 50%;
    border: 5px solid grey;
}

.hair-service #submitBtn {
    border: 0;
    background: black;
    padding: .5rem;
    cursor: pointer;
    color: white;
    margin: 1rem 0;
    text-transform: uppercase;
}

.hair-service #submitBtn:hover {
    background-color: darkgrey;
    transition: 0.5s;
    border-radius: 10px;
    font-weight: bold;
}