h1 {
    text-align: center;
    border-bottom: 1px solid gold;
}

.create-hair-service-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid red;
    padding: 2rem;
    border-radius: 10px;
}

.create-hair-service-form label {
    display: block;
    padding: 1rem 0 .25rem;
    font-size: 14px;
}

.create-hair-service-form input {
    display: block;
    width: 50%;
    border: 2px solid blue;
    padding: .5rem;
    border-radius: 5px;
}

.create-hair-service-form input:focus {
    width: 75%;
    border: 5px solid darkgoldenrod;
}

.create-hair-service-form #submitBtn {
    border: 0;
    background: blue;
    padding: .5rem;
    cursor: pointer;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
}

.create-hair-service-form #submitBtn:hover {
    background-color: purple;
    transition: 0.3s;
    border-radius: 10px;
}