<nav class="header">
    <a routerLink="/admin"><img class="logo" src="../../assets/images/HairSalonLogo.jpg"></a>

    <div class="header-right">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="hair-service">Create hair service</a>
        <a routerLinkActive="active" routerLink="hair-service/all">All hair services</a>

        <a routerLinkActive="active" routerLink="appointment/all">All appointments</a>

        <a routerLinkActive="active" routerLink="employee/all">All employees</a>
    </div>
</nav>

<router-outlet></router-outlet>