<div class="table-wrap">
    <table mat-table [dataSource]="allEmployees$">
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell data-label="#" *matCellDef="let element; let i=index">{{i + 1}}.</td>
        </ng-container>
        <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell data-label="Employee" *matCellDef="let element">{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="employeeHairServices">
            <th mat-header-cell *matHeaderCellDef>Services</th>
            <td mat-cell data-label="Services" *matCellDef="let element">
                <!-- To print the hair services on the same line, use span instead of div like this:
                <span *ngFor="let services of element.employeeHairServices; last as isLast">
                    {{services.hairService.name}}<span *ngIf="!isLast">, </span>
                </span> -->
                <div *ngFor="let services of element.employeeHairServices">
                    {{services.hairService.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="employeeWorkingIntervals">
            <th mat-header-cell *matHeaderCellDef>Working Intervals</th>
            <td mat-cell data-label="Working Intervals" *matCellDef="let element">
                <div *ngFor="let workingInterval of element.employeeWorkingIntervals">
                    {{workingInterval.workingDay.name}}: {{workingInterval.startTime}} - {{workingInterval.endTime}}
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>