<div class="form-wrap">
    <form [formGroup]="formAppointmentReview" (ngSubmit)="createAppointmentReview()">
        <h1>Create Appointment Review</h1>
        <div>
            <label>Rating</label>
            <!--
                Each star will be a span with the value of 1, 2, 3, 4 and 5.
                When hover the stars, for example the 3rd star => hoveredStars = 3 => 'gold-star' class will be applied to only the first 3 stars (because star <= hoveredStars).
                When click on a star and take mouse off, for example the 4th star => selectedStars = 4 => 'gold-star' class will only remain to the first 4 stars (because star <= selectedStars).
            -->
            <span *ngFor="let star of [1, 2, 3, 4, 5]"
                    (mouseenter)="hoveredStars = star"
                    (mouseleave)="hoveredStars = 0"
                    [ngClass]="{'gold-star': star <= hoveredStars || star <= selectedStars}"
                    (click)="onStarClicked(star)">
                <span class="star">&#9733;</span>
            </span>
            <div *ngIf="formAppointmentReviewGetter.rating.touched" style="color:red">
                <div *ngIf="formAppointmentReviewGetter.rating.errors?.['required']">Rating is required!</div>
            </div>
        </div>
        <div>
            <label for="comments">Comments</label>
            <input type="text" class="form-control" formControlName="comments" id="comments">
            <div *ngIf="formAppointmentReviewGetter.comments.touched" style="color:red">
                <div *ngIf="formAppointmentReviewGetter.comments.errors?.['required']">Comments are required!</div>
            </div>
        </div>
        <button type="submit" [disabled]="!formAppointmentReview.valid" id="submitBtn">Save</button>
    </form>
</div>