.stepper-wrap {
    display: flex;
    justify-content: center;
}

mat-vertical-stepper {
    width: 80%;
    
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

table {
    width: 100%;
}

table th {
    font-size: 25px;
    opacity: 0.5;
    text-align: center;
}

table td {
    font-size: 15px;
    text-align: center;
}

table .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

table .mat-row:hover .mat-cell {
    border-color: currentColor;
}

mat-vertical-stepper button {
    color: white;
    background-color: black;
}
  
mat-vertical-stepper button:hover {
    background-color: darkgrey;
    transition: 0.5s;
    border-radius: 10px;
}

mat-vertical-stepper .results {
    color: white;
    font-size: 20px;
    margin: 10px;
}

mat-vertical-stepper .results:hover {
    padding: 5px;
    cursor: pointer;
}

@media(max-width: 575px) {
    table .mat-header-row {
        display: none;
    }

    table .mat-row {
        display: grid;
        height: auto;
    }

    table .mat-cell {
        text-align: right;
    }

    table .mat-cell:before {
        content: attr(data-label);
        float: left;
    }
}