mat-vertical-stepper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 40px;
    transform: translate(-50%, -50%);
    
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

mat-vertical-stepper button {
    color: white;
    background-color: black;
}
  
mat-vertical-stepper button:hover {
    background-color: darkgrey;
    transition: 0.5s;
    border-radius: 10px;
}

mat-vertical-stepper table {
    width: 100%;
}

mat-vertical-stepper table th {
    font-size: 25px;
    opacity: 0.5;
}

mat-vertical-stepper table td {
    font-size: 15px;
}

mat-vertical-stepper .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

mat-vertical-stepper .mat-row:hover .mat-cell {
    border-color: currentColor;
}

mat-vertical-stepper .results {
    color: white;
    font-size: 20px;
    margin: 10px;
}

mat-vertical-stepper .results:hover {
    padding: 5px;
    cursor: pointer;
}