.mat-stepper-vertical {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}

table {
    width: 85%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-row:hover .mat-cell {
    border-color: currentColor;
}

/* Selected row (hair service). */
.row-is-clicked {
    font-weight: bold;
}

mat-form-field {
   background-color: grey; 
}