<!-- All the elements from here are printed on all the other html pages, so this page is manly used for: header, side navbar, footer, etc... -->

<!-- If user logged in-->
<!-- <ul *ngIf="hairdresserService.isLoggedIn$ | async; else notLoggedIn">
    <p> Hi, {{ hairdresserService.loggedInUser_Username }} </p>

    <p> (is logged in): log out (? etc...) </p>
    <a href style="cursor:pointer" (click)="hairdresserService.logOutUser()">Log out</a>
</ul> -->
<!-- Else (if user not logged in) -->
<!-- <ng-template #notLoggedIn>
    <p> (is not logged in): register, login, hair services (? etc...) </p>
</ng-template> -->

<!-- Routed views go here (and they should only stay in app.component.html): -->
<router-outlet></router-outlet>