<div class="card">
    <h4 class="card-header">Edit Hair Service</h4>

    <div class="card-body">
        <form [formGroup]="formHairServiceEdited" (ngSubmit)="updateHairService()">
        
            <div class="form-group">
                <label for="name">Name: </label>
                <!-- before: 
                <input [ngModel]="selectedHairServiceValues.name" class="form-control" formControlName="name">
                -->
                <input class="form-control" formControlName="name">
                
                <!-- <div *ngIf="formGetter.name.touched" style="color:red">
                    <div *ngIf="formGetter.name.errors?.['required']">
                        Name is required!
                    </div>
                </div> -->
            </div>

            <div class="form-group">
                <label for="durationInMinutes">Duration in minutes: </label>
                <input formControlName="durationInMinutes" class="form-control">
            
                <!-- <div *ngIf="formGetter.durationInMinutes.touched" style="color:red">
                    <div *ngIf="formGetter.durationInMinutes.errors?.['required']">
                        Duration is required!
                    </div>
                </div> -->
            </div>

            <div class="form-group">
                <label for="price">Price: </label>
                <input formControlName="price" class="form-control">
            
                <!-- <div *ngIf="formGetter.price.touched" style="color:red">
                    <div *ngIf="formGetter.price.errors?.['required']">
                        Price is required!
                    </div>
                </div> -->
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!formHairServiceEdited.valid">Update</button>
            </div>
        </form>
    </div>
</div>