.create-working-interval-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid red;
    padding: 2rem;
}

.create-working-interval-form h1 {
    text-align: center;
    border-bottom: 1px solid gold;
}

.create-working-interval-form label {
    display: block;
    padding: 1rem 0 .5rem;
    font-size: 20px;
}

.create-working-interval-form mat-form-field {
    background-color: lightcoral; 
}

.create-working-interval-form #submitBtn {
    cursor: pointer;
    border: 0;
    background-color: purple;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
}

.create-working-interval-form #submitBtn:hover {
    background-color: blue;
    transition: 0.7s;
    border-radius: 10px;
}