<form [formGroup]="formWorkingInterval" (ngSubmit)="createWorkingInterval()" class="create-working-interval-form">
    <h1>Create Working Interval</h1>

    Day
    <mat-form-field>
        <mat-label>Select...</mat-label>

        <mat-select [(value)]="selectedDay">
            <mat-optgroup label="Working Days">
                <mat-option value="1">Monday</mat-option>
                <mat-option value="2">Tuesday</mat-option>
                <mat-option value="3">Wednesday</mat-option>
                <mat-option value="4">Thursday</mat-option>
                <mat-option value="5">Friday</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <div>
        <label for="employeeId">Employee Id</label>
        <input type="number" class="form-control" formControlName="employeeId" id="employeeId">
    
        <div *ngIf="formGetter.employeeId.touched" style="color:red">
            <div *ngIf="formGetter.employeeId.errors?.['required']">
                Employee id is required!
            </div>
        </div>
    </div>

    <div>
        <label for="startTime">Start</label>
        <input type="time" class="form-control" formControlName="startTime" id="startTime">

        <div *ngIf="formGetter.startTime.touched" style="color:red">
            <div *ngIf="formGetter.startTime.errors?.['required']">
                Start time is required!
            </div>
        </div>
    </div>

    <div>
        <label for="endTime">Finish</label>
        <input type="time" class="form-control" formControlName="endTime" id="endTime">

        <div *ngIf="formGetter.endTime.touched" style="color:red">
            <div *ngIf="formGetter.endTime.errors?.['required']">
                End time is required!
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="!formWorkingInterval.valid" id="submitBtn">Save</button>
</form>