<div class="table-wrap">
    <table mat-table [dataSource]="hairServices$">
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell data-label="#" *matCellDef="let element; let i=index">{{i + 1}}.</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell data-label="Name" *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Duration</th>
            <td mat-cell data-label="Duration" *matCellDef="let element">{{element.duration}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell data-label="Price" *matCellDef="let element">{{element.price}} $</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell data-label="Actions" *matCellDef="let element">
                <a routerLink="../update/{{element.id}}">
                    <!-- Angular Material Tooltip (matTooltip) is the same for title property, so it prints text when hovered, but title is more specific to HTML and Tooltip is more specific to Angular and is more advanced (you can bring changes) -->
                    <button mat-icon-button matTooltip="Edit" matTooltipPosition="left">
                        <mat-icon class="icon_edit_button">edit</mat-icon>
                    </button>
                </a>

                <button mat-icon-button matTooltip="Delete" (click)="deleteHairService(element.id)" matTooltipPosition="right">
                    <mat-icon class="icon_delete_button">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- TABLE HEADER -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- TABLE DATA CELLS -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>