.table-wrap {
    /* The element behaves like a block element and lays out its content according to the flexbox model */
    display: flex;
    /* Horizontal axes */
    justify-content: center;
    /* Vertical axes (works only if the height is set) */
    /* align-items: center; */
    /* If I set the heigth, to make the table positioned in the middle of vertical axes, then when responsive, the table height grows a lot and it will be a little of it over the header and under the footer => so I  */
    /* height: 70vh; */
}

table {
    width: 80%;
}

table th {
    font-size: 30px;
    opacity: 0.5;
    text-align: center;
}

table td {
    font-size: 20px;
    text-align: center;
}

table .icon_edit_button {
    font-size: 25px;
    color: blue;
}

table .icon_delete_button {
    font-size: 25px;
    color: red;
}

@media(max-width: 575px) {
    table .mat-header-row {
        display: none;
    }

    table .mat-row {
        display: grid;
        height: auto;
    }

    table .mat-cell {
        text-align: right;
    }

    table .mat-cell:before {
        content: attr(data-label);
        float: left;
    }
}