table {
    width: 100%;
}

.icon_edit_button {
    font-size: 20px !important;
    background:linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
    color: white;
    border-radius: 50%;
}

.icon_delete_button {
    font-size: 20px !important;
    background:linear-gradient(to left, #00eafb 0%, #2acc02 100%);
    color: red;
    border-radius: 50%;
}

.loading-spinner {
    position: absolute;

    height: 100%;
    width: 100%;
    
    background: black;
    opacity: 0.7;
}

.loading-spinner mat-spinner {
    top: 50%;
    left: 50%;
}