<div class="table-wrap">
    <table mat-table [dataSource]="missingHairServices$">
        <ng-container matColumnDef="checkBox">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox mat-list-icon (change)="selection.toggle(element)" [checked]="selection.isSelected(element)"></mat-checkbox>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell data-label="#" *matCellDef="let element; let i=index">{{i + 1}}.</td>
        </ng-container>
      
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell data-label="Name" *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Duration</th>
            <td mat-cell data-label="Duration" *matCellDef="let element">{{element.duration}}</td>
        </ng-container>
      
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell data-label="Price" *matCellDef="let element">{{element.price}} $</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="saveHairServicesForEmployee()" *ngIf="selection.selected.length" id="submitBtn">Save</button>
</div>