/* You can add global styles to this file, and also import other style files */

/* POP-UP MESSAGES: */
.error.mat-snack-bar-container {
    background: red;
    color: white;
}

.success.mat-snack-bar-container {
    background: green;
    color: white;
}