<div class="table-wrap">
    <table mat-table [dataSource]="employeeAppointmentsFinished$" class="mat-elevation-z8">
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell data-label="#" *matCellDef="let element let i=index">{{i + 1}}.</td>
        </ng-container>
        <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef>Customer</th>
            <td mat-cell data-label="Customer" *matCellDef="let element">{{element.customerName}}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell data-label="Start" *matCellDef="let element">
                {{element.startDate | date:'dd/MM/yyyy h:mm a'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>End</th>
            <td mat-cell data-label="End" *matCellDef="let element">
                {{element.endDate | date:'dd/MM/yyyy h:mm a'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="hairServices">
            <th mat-header-cell *matHeaderCellDef>Services</th>
            <td mat-cell data-label="Services" *matCellDef="let element">
                <div *ngFor="let services of element.appointmentHairServices">
                    {{services.hairService.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell data-label="Price" *matCellDef="let element">{{element.price}} $</td>
        </ng-container>
        <ng-container matColumnDef="review">
            <th mat-header-cell *matHeaderCellDef>Review</th>
            <td mat-cell data-label="Review" *matCellDef="let element">
                <!-- If appointment has review -->
                <div *ngIf="element.review">
                    <div matTooltip="{{element.review.comments}}" matTooltipPosition="above">
                        <!-- [].constructor() it's a reference to the constructor function for arrays = so it's just an array with the given elements -->
                        <span *ngFor="let star of [].constructor(element.review.rating)" class="gold-star">
                            &#9733; <!-- Unicode character for a solid star -->
                        </span>
                        <span *ngFor="let star of [].constructor(totalRatingStars - element.review.rating)">
                            &#9734; <!-- Unicode character for an outlined star -->
                        </span>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>