.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.center table {
    width: 100%;
}

.center table th {
    font-size: 30px;
    opacity: 0.5;
}

.center table td {
    font-size: 20px;
}