<nav>
    <button mat-raised-button color="primary" routerLink="hair-service">Add hair service</button>
    <button mat-raised-button color="primary" routerLink="hair-service/all">All hair services</button>

    <button mat-raised-button color="primary" routerLink="appointment/all">All appointments</button>

    <button mat-raised-button color="primary" routerLink="working-interval">Create working intervals</button>
    <button mat-raised-button color="primary" routerLink="working-interval/all">All working intervals</button>
<nav>

<router-outlet></router-outlet>