<header>
    <nav class="navbar navbar-expand-sm navbar-dark fs-5">
        <a class="navbar-brand">
            <img class="logo" src="../../assets/images/HairSalonLogo.jpg" alt="">
        </a>

        <!-- HAMBURGER BUTTON (FOR RESPONSIVE): -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- ms-auto = set text to right side -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="hair-service">Add hair service</a>
                </li>
                <li class="nav-item active">
                    <a routerLinkActive="active" routerLink="hair-service/all">Hair services</a>
                </li>
                <li class="nav-item active">
                    <a routerLinkActive="active" routerLink="appointment/all">Appointments history</a>
                </li>
                <li class="nav-item active">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="working-interval">Add working interval</a>
                </li>
                <li class="nav-item active">
                    <a routerLinkActive="active" routerLink="working-interval/all">Working intervals</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- CHILDREN VIEWS GO HERE: -->
<router-outlet></router-outlet>