<nav class="header">
    <img class="logo" src="../../assets/images/HairSalonLogo.jpg">

    <div class="header-right">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="hair-service">Add hair service</a>
        <a routerLinkActive="active" routerLink="hair-service/all">All hair services</a>

        <a routerLinkActive="active" routerLink="appointment/all">Appointments history</a>

        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="working-interval">Create working interval</a>
        <a routerLinkActive="active" routerLink="working-interval/all">All working intervals</a>
    </div>
</nav>

<router-outlet></router-outlet>